# SkillStack Website / Student Portal - Example Environment Variables
# Copy to .env and adjust as needed

# Live Production Render Backend:
VITE_API_URL=https://skilltrack-backend-a36m.onrender.com/api

# Local Backend:
# VITE_API_URL=http://127.0.0.1:8000/api
